@model TojeTedaGoll.Models.Guest

@{
    Layout = "~/Views/Shared/_Layout_Vertical.cshtml";
    Html.EnableClientValidation(false);
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    
    <div class="page-content-panel" id="form-panel">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScJCoi42EpUr2BZIYibopnikvWl9Gm8ycJZwUoxssDL4tr4fQ/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
    </div>
   

</body>
</html>
