@import "../Common/variables.less";


body{
    background: repeat;
    background-image: url(/Images/Header-bgr.png);
}

h1, h2, h3, h4{
    font-family: @amatic;
    color: @c-black;
     
}

p{
    font-family: 'Open Sans';
    font-size: medium;
    width: 50%;
    margin: 0 auto;
    text-align:center;
    
}

.container, .container-fluid{
   padding: 0;
   
}

//Horizontal
.horizontal-content-container{
    background-color: @c-white;
    min-height: 1000px;
}


//Vertical 
.page-content-panel{
        width: 60vw;
        height: 80vh;
        background-color: @c-white;
        padding: 50px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        margin-top: 5%;

      
     //   border-style: solid;
     //   border-color: @c-light-brown;
     //   border-width: 0.5px;

     @media screen and (max-width: @netbook){
         height: 100vh;
     }

         #gifts-item-container{
        display: flex;
        flex-flow: row;
        justify-content: center;
        height: 100%;
        overflow: auto;
        padding-bottom: 15px;
    }
}

//Vertical Layout
//Content panel in second container

.flex-center-verticaly{
    text-align: center;
    display: flex;
    flex-flow: column;
    min-height: 1000px;
}

.vertical-container{
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;

        .sidebar-container{
        background-color: @c-white;
        width: 20%;
        display: block;
        text-align: center; 
        
            .sidebar-bottom-img-container{
                    margin-bottom: 0;
                    position:absolute;
                    bottom: 0;
                }     
        }

}

#sidebar-divider{
    margin: 20px auto;

    @media screen and (max-width: @mobile-l){
        display: none;
    }
}



#sidebar-img{
    width: 60%;
    z-index: @z-top;
    margin: 50px auto;

    @media screen and (max-width: @mobile-l){
        display: none;

    }
 
}




















