@import "../Common/variables.less";


body{
    background: repeat;
    background-image: url(/Images/Header-bgr.png);
        }

h1, h2, h3, h4{
    font-family: @amatic;
    color: @c-black;
     
}

p{
    font-family: 'Open Sans';
    font-size: medium;
    width: 50%;
    margin: 0 auto;
    text-align:center;
    
}

.container, .container-fluid{
   padding: 0;
   @media screen and (max-width: @mobile-l)
   {
       margin-right: 0;
   }
}

//Horizontal
.horizontal-content-container{
    background-color: @c-white;
    min-height: 1000px;
}


//Vertical 
.page-content-panel{
        width: 100%;
        height: 80vh;
        background-color: @c-white;
        padding: 50px;
        display: flex;
        flex-flow: column;
        justify-content: center;
        

      
     //   border-style: solid;
     //   border-color: @c-light-brown;
     //   border-width: 0.5px;

     @media screen and (min-width: @mobile-s){
            padding: 25px 0 15px 0;
        }

     @media screen and (min-width: @netbook){
         height: 100vh;
         padding: 50px;
         
     }

         #gifts-item-container{
        display: flex;
        flex-flow: row;
        justify-content: center;
        height: 100%;
        overflow: auto;
        padding-bottom: 15px;
    }
}

//Vertical Layout
//Content panel in second container

.vertical-container{
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;

        .flex-center-verticaly{
            display: flex;
            flex-flow: row wrap;
            justify-content: flex-start;
            position: relative;
            padding: 5vh;
         }


        .sidebar-container{
            min-height: 100vh;
            background-color: @c-white;
            width: 20%;
            display: block;
            text-align: center; 

                @media screen and (max-width: @tablet)
                {
                    padding: 20px;
                }
        
            .sidebar-bottom-img-container{
                    margin-bottom: 0;
                    position:absolute;
                    bottom: 0;
                }     
        }

}

#sidebar-divider{
    margin: 20px auto;

    @media screen and (max-width: @mobile-l){
        display: none;
    }
}



#sidebar-img{
    width: 60%;
    z-index: @z-top;
    margin: 50px auto;

    @media screen and (max-width: @tablet){
        display: none;

    }
 
}

//Buttons

#btn-default{
    background-color: @c-light-brown;
    color: @c-white;
    padding: 15px;
    text-align: center;
    line-height: 50px;

        &:hover{
            text-decoration: none;
            color: @c-black;
        }
}
















