@import "../Common/variables.less";
@import "../Layout/content.less";



#about-panel{
    display: flex;
    flex-flow: column;
    justify-content: space-around;
}

.img-circle{
    width: 30%;
    margin: 0 auto;
}
