@import "../Common/variables.less";


#form-panel{
    height: 100%;
    z-index: @z-top;

        @media screen and (max-width: @netbook){
            padding: 30px;
        }

    h1{
        text-align: center;
    }

    .btn btn-default{
        text-align: center;
    }
}

label{
    font-family: 'Amatic SC';
    font-size: 2em;
}


.checkbox{
    margin-left: 30px;
}

#submit-btn-group{
    text-align: center;
    margin-top: 20px;
}


