@{
    Layout = "~/Views/Shared/_Layout_Vertical.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About page</title>
</head>
<body>
    <div class="page-content-panel" id="about-panel">
        <div>
            <img class="img-responsive img-circle" src="~/Images/Faces.png" />
            <p id="about-par">
                Bylo to jako podle klasického Holywoodského scénáře.<br /><br />
                Znali se již od základní školy a dalo by se říci, že byli kamarádi. To, že jsou však pro sebe stvořeni, jim mělo dojít až o pár let později.<br /><br />
                Po základní škole se jejich cesty na dlouhou dobu rozdělily. Šťastnou náhodou se opět spojily  před jeho maturitním plesem. Ona, v tehdejší době uznávaná tanečnice, byla požádána, zda by nevystoupila na pomaturitní party.<br /><br />
                Když ji viděl svíjet se na tanečním parketu v rytmu populární hudby, byl ohromen. Po vystoupení zanesl, jako poděkování, do zákulisí květinu a požádal ji, zda by nechtěla pokračovat večerem s ním. Ona, ohromena jeho nabídkou (přeci jen to byl v té době taky fešák) a nádhernou květinou, nadšeně souhlasila.<br /><br />
                Události následujících hodin nebudeme v tomto příběhu rozebírat, hlavně pro to, že jeho vzpomínky na tyto okamžiky jsou značně nejasné. Co si však pamatuje do dnes je ona. Malinká, trochu dračice, trochu tajemná, s podmanivým úsměvem.<br /><br />
                Druhý den oba přemýšleli, zda se jim to pouze nezdálo. Když ho však ona pozve na společnou vycházku (čti pivo), nadšeně souhlasí. Slovo dalo slovo, polibek dal polibek a od té doby jsou spolu.<br /><br />
                Cesta k zásnubám byla dlouhá a ne vždy jednoduchá. Ona obrněna svou božskou trpělivostí. On vždy tolerantní k jejím výstřelkům. Nakonec on, když budu parafrázovat společného kamaráda, „našel ty koule“ a požádal. Podrobnostmi žádosti Vás nebudu zatěžovat. Zahrnovala květiny, smyčcový kvartet, přelety letadel a ohňostroje. Takové ty klasické věci, patřící k žádosti o ruku.<br /><br />
                A nyní…jsme tady<br /><br />
                A & T
            </p>
            <img id="about-img-rings" src="~/Images/WeddingWeb-14.svg" />
        </div>
        </div>
</body>
</html>
