@model TojeTedaGoll.Models.WeddingGift[]

@{
   Layout = "~/Views/Shared/_Layout_Vertical.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="page-content-panel" id="gifts-info-panel">
        <p>Seznam vysněných svatebních darů pro inspiraci</p>
    </div>
    <div class="page-content-panel" id="gifts-items-container">

        @foreach (var weddingGift in Model)
        {            
           <div class="gift-item-panel">
             <a href="@Url.Action("GiftDetail", new { id = weddingGift.Id})">
                <img src=@weddingGift.ImagePath class="img-responsive" />
                <h1>@weddingGift.GiftName</h1>
                <p class="tablet-hidden">@weddingGift.ShortDescription</p>
                 <br />
                 <br />
                 <h2>Více ></h2>
             </a>
        </div>
       }
   </div>

    </body>
</html>
