@{
    Layout = "~/Views/Shared/_Layout_Horizontal.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index page</title>
</head>
<body>

    <div>
        <img id="upper-divider" src="~/Images/WeddingWeb-18.svg" class="img-responsive" />

        <p class="index-paragraph">
            Rodino, přátelé, svatebčané.<br /> Spustili jsme náš svatební web, na kterém, jak doufáme, naleznete veškeré potřebné informace, týkající se této slávy.<br /><br /><br />

            Obřad a následná slavnost bude probíhat: <br /><br /><br />

            <span class="highlight">
                dne 9.9.2016<br />
                od 14:30 hodin<br />
                V areálu Botanika<br />
                Horní Bezděkov 154<br />
                273 51 Unhošť
            </span>
        </p>
        <img id="middle-divider" src="~/Images/WeddingWeb-17.svg" class="img-responsive" />
        <p class="index-paragraph">
            Místo konání není nikterak daleko od Prahy a na místě by měla být k dispozici taxislužba, sjednaná areálem.<br />
            Nicméně, kdo si chce party užít naplno, ten si může zarezervovat pokoj na přespání.<br />
            Cena je 650CZK/os se snídaní.<br />
            Rezervovat pokoj můžete zde na webu, prostřednictvím formuláře.<br /><br />

            Doufáme, že se s Vámi všemi uvidíme v září.<br />
            Zatím ahoj!

        </p>
        <img id="lower-divider" src="~/Images/WeddingWeb-16.svg" class="img-responsive" />

    </div>
</body>
</html>