@{
    Layout = "~/Views/Shared/_Layout_Vertical.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="page-content-panel">
        <p>Vzhledem k neustále se měnícímu programu, bude tato část doplněna později</p>    
    </div>
</body>
</html>
