@{
    Layout = "~/Views/Shared/_Layout_Vertical.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div class="page-content-panel" id="schedule-panel">
        <img src="~/Images/schedule.png" alt="wedding day schedule" class="img-responsive" />
   </div>
</body>
</html>
