<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Wedding Web</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/main.less" rel="stylesheet/less" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Scripts/less.js"></script>
</head>
<body>
    <div class="container header">
        <img class="img-responsive header-side-img" src="~/Images/WeddingWeb-13.svg" />
        <div class="panel" id="header-panel">
            <div class="header-panel-content">
                <img class="header-image" src="~/Images/Header-img.png" />
                <h1>Aneta Raušová <br />&<br />Tomáš Goll</h1>
                <h2>Dne 9.9.2016 <br />vtančí do společného<br />života</h2>
            </div>          
        <!--TO DO Countdown timer-->
        </div>
        <img class="img-responsive header-side-img" src="~/Images/WeddingWeb-12.svg" />

    </div>
    <div class="container-fluid">
        <div class="nav navbar-default navbar-collapse" role="navigation">
            <!--<div class="container">-->
            <ul>
                <li>@Html.ActionLink("Home", "Index", null, new { @class = "menu-item" })</li>
                <li>@Html.ActionLink("O nás", "About", null, new { @class = "menu-item" })</li>
                <li>HARMONOGRAM</li>
                <li>SVATEBNÍ DARY</li>
                <li>RSVP</li>
            </ul>
            <!--</div>-->
        </div>
    </div>

    <div class="container-fluid horizontal-content-container">
        @RenderBody()

    </div>
    <footer class="footer-fixed-bottom">
        <div class="container-fluid  footer">
            <img class="img-responsive" id="footer-img" src="~/Images/WeddingWeb-11.svg" />
            <div class="panel" id="footer-panel"></div>

        </div>
    </footer>


    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>
